<!-- ASIDE NAV -->
<aside class="py-6 lg:col-span-3">
  <nav class="space-y-1">
    <a href="/settings/<%= user.username %>/edit-profile" class="<%= locals.whichPage == 'edit-profile' ? 'bg-secondary-50 border-secondary-500 text-secondary-700 hover:bg-secondary-50 hover:text-secondary-700' : 'border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900' %> group border-l-4 px-3 py-2 flex items-center text-sm font-medium" aria-current="page">
      <svg class="<%= locals.whichPage == 'edit-profile' ? 'text-secondary-500 group-hover:text-secondary-500' : 'text-gray-400 group-hover:text-gray-600' %> flex-shrink-0 -ml-1 mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>
      <span class="truncate">Profile</span>
    </a>

    <a href="/settings/<%= user.username %>/change-profile-photo" class="<%= locals.whichPage == 'change-profile-photo' ? 'bg-secondary-50 border-secondary-500 text-secondary-700 hover:bg-secondary-50 hover:text-secondary-700' : 'border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900' %> group border-l-4 px-3 py-2 flex items-center text-sm font-medium">
      <!-- Heroicon name: outline/photo -->
      <svg class="<%= locals.whichPage == 'change-profile-photo' ? 'text-secondary-500 group-hover:text-secondary-500' : 'text-gray-400 group-hover:text-gray-600' %> flex-shrink-0 -ml-1 mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
      </svg>

      <span class="truncate">Profile Photo</span>
    </a>

    <a href="/settings/<%= user.username %>/change-password" class="<%= locals.whichPage == 'change-password' ? 'bg-secondary-50 border-secondary-500 text-secondary-700 hover:bg-secondary-50 hover:text-secondary-700' : 'border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900' %> group border-l-4 px-3 py-2 flex items-center text-sm font-medium">
      <!-- Heroicon name: outline/key -->
      <svg class="<%= locals.whichPage == 'change-password' ? 'text-secondary-500 group-hover:text-secondary-500' : 'text-gray-400 group-hover:text-gray-600' %> flex-shrink-0 -ml-1 mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
      </svg>
      <span class="truncate">Password</span>
    </a>

    <a href="/settings/<%= user.username %>/delete-account" class="<%= locals.whichPage == 'delete-account' ? 'bg-secondary-50 border-secondary-500 text-secondary-700 hover:bg-secondary-50 hover:text-secondary-700' : 'border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900' %> group border-l-4 px-3 py-2 flex items-center text-sm font-medium">
      <!-- Heroicon name: outline/trash -->
      <svg class="<%= locals.whichPage == 'delete-account' ? 'text-secondary-500 group-hover:text-secondary-500' : 'text-gray-400 group-hover:text-gray-600' %> flex-shrink-0 -ml-1 mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
      </svg>

      <span class="truncate">Delete Account</span>
    </a>
  </nav>
</aside>
