<%- include('../includes/header') %>
<header class="relative py-10">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold tracking-tight">Settings</h1>
  </div>
</header>
<main class="relative">
  <div class="mx-auto max-w-screen-xl px-4 pb-6 sm:px-6 lg:px-8 lg:pb-16">
    <div class="overflow-hidden rounded-lg bg-white shadow">
      <div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">
        <%- include('../includes/settingsNav') %>

        <form class="divide-y divide-gray-200 lg:col-span-9" action="/settings/<%= username %>/delete-account" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken%>" />

          <div class="py-6 px-4 sm:p-6 lg:pb-8">
            <div>
              <h2 class="text-lg font-medium leading-6 text-gray-900">Delete Your Account</h2>
              <p class="mt-1 text-sm text-gray-600">This is not reversible. Please ensure you want to delete your account.</p>
            </div>
            <%- include('../includes/flash') %>
          </div>

          <div class="divide-y divide-gray-200 pt-6">
            <div class="mt-4 flex justify-end py-4 px-4 sm:px-6">
              <a href="/contacts/<%= user.username %>" class="inline-flex justify-center rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">Cancel</a>
              <button type="submit" class="ml-5 inline-flex justify-center rounded-md border border-transparent bg-red-700 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">Yes, Delete Account</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<%- include('../includes/footer') %>
