<%- include('includes/header') %>
<div class="max-w-xs mx-auto"><%- include('includes/flash') %></div>
<%- include('includes/goToHomePage') %>
<div class="max-w-sm sm:max-w-xs mx-auto">
  <%- include('includes/profileLong') %>
  <!-- SHOW NUMBER OF COMMENTS AND LIKES -->
  <%- include('includes/homepageForEachProfileGuest', {profile: profile}) %>
  <!-- SHOW NUMBER OF COMMENTS AND LIKES END -->
  <%- include('includes/toggleMoreProfile') %>
</div>
<% if(!user){ %>
<div class="mt-3 mx-auto" style="width: 18rem"><%- include('includes/loginToCommentLike') %></div>
<%}%> <%- include('includes/commentsForm') %> <%-include('includes/footer') %>
